html, body {
    height: 100%;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #a98e8e;
}

p {
    font-size: 16px;
}

.container {
    color: white;
    background-color: #cd9575;
}


a, a:hover {
    color: brown;
}

#logo{
    max-height: 300px;
}

#imgg {
    position: absolute;
    right: 198px;
    bottom: 208px; 
}

#fork img{
    height: 25px;
    margin-bottom: 25px;
    filter: invert(1);
}

#sep {
    height: 75px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-image: url("https://i.pinimg.com/originals/4c/3e/26/4c3e26cc52203045b9a20ac6c8a72494.jpg"); /* White */
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position: center;
    color: #a98e8e;
}

.bg-2 {
    background-color: #cd9575; /* Blue */
    color: #ffffff;
}

.card {
    color: black;
    text-align: left;
}

.card-title {
    font-weight: 700;
}

.bg-3 {
    background-color: #964B00; /* Black */
    color: #ffffff;
}

.bg-4 {
    background-color: #964B00; /* Dark Gray */
    color: #ffffff;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.con {
    padding-top: 300px;
    padding-bottom: 200px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
 
    
}

.navbar-nav li a:hover {
    color: #cd9575 !important;
}

.img-fluid{
    height: 130px;
    position: absolute;
    right: 400px;
    bottom: 280px;
}

.owner-name{
    font-size: 30px;
}

li {
    font-size: 15px;
}