html, body {
    height: 100%;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #a98e8e;
}

p {
    font-size: 16px;
}

.container {
    color: white;
    background-color: #6dbf63;
}


a{
    color: green;
}
    a:hover {
    color: brown;
}

#logo{
    max-height: 300px;
}

#imgg {
    position: absolute;
    right: 198px;
    bottom: 208px; 
}

#fork img{
    height: 25px;
    margin-bottom: 25px;
    filter: invert(1);
}

#sep {
    height: 75px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-image: url(https://i.pinimg.com/564x/55/d0/e9/55d0e94e10cbed8e68897b854dfe41ae.jpg);
    background-repeat: no-repeat;
    background-size: 1250px;
    background-position: center;
    color: #a98e8e;
}

.bg-2 {
    background-color: #6dbf63; /* Blue */
    color: #ffffff;
}

.card {
    color: black;
    text-align: left;
}

.card-title {
    font-weight: 700;
}

.bg-3 {
    background-color: #ffffff; /* Black */
    color: #46b53a;
}

.bg-4 {
    background-color: #6dbf63; /* Dark Gray */
    color: #ffffff;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.con {
    padding-top: 300px;
    padding-bottom: 200px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;

 
    
}

.navbar-nav li a:hover {
    color: #46b53a !important;
}

.img-fluid{
    height: 130px;
    /*position: absolute;*/
    right: 660px;
    bottom: 360px;
    
}

.owner-name{
    font-size: 30px;
}

li {
    font-size: 17px;
}