html, body {
    height: 100%;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #a98e8e;
}

p {
    font-size: 16px;
}

a {
    color: #a98e8e;
}

#logo, .project-img {
    max-height: 300px;
}

#fork img{
    height: 25px;
    margin-bottom: 25px;
    filter: invert(1);
}

#sep {
    height: 75px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-image: url("https://i.pinimg.com/originals/4c/3e/26/4c3e26cc52203045b9a20ac6c8a72494.jpg"); /* White */
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position: center;
    color: #a98e8e;
}

.bg-2 {
    background-color: #a98e8e; /* Blue */
    color: #ffffff;
}

.card {
    color: black;
    text-align: left;
}

.card-title {
    font-weight: 700;
}

.bg-3 {
    background-color: #ffffff; /* Black */
    color: #a98e8e;
}

.bg-4 {
    background-color: #a98e8e; /* Dark Gray */
    color: #ffffff;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #a98e8e !important;
}
